<table id="assessmentHistoryTable">
    <thead>
    <tr><th>Assessment</th><th>Status</th><th>Completion Date</th><th>Assessment Result</th></tr>
    </thead>
    <tbody>
        {% for assessment in assessment_history_list %}
            <tr>
                <td>{{ assessment.type }}</td>
                <td>{{ assessment.status }}</td>
                <td>{{ assessment.assessmentdata.completion_date }}</td>
                <td><a href="{% url 'assessment-detail' pid=patient.pid pk=assessment.pk %}" class="btn btn-success">View Result</a></td>
            </tr>
        {% empty %}
            <tr><td>No Assessment history</td><td></td><td></td><td></td></tr>
        {% endfor %}
    </tbody>
</table>